i.mce-i-tooltip {
    background: url(../../images/help-outline-black.svg);
    background-size: cover;
    fill: #000;
}

div.app-tooltip-input {
    float: left;
    margin: 2px;
    width: 300px;
}

div.app-tooltip-input input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    line-height: 1.28571429;
    min-height: 26px;
}

div.app-tooltip-input textarea {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    line-height: 1.28571429;
    min-height: 80px;
    background: #fff;
    border: 1px solid #8c8f94;
    white-space: normal;
}

div.app-tooltip-input textarea:focus {
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
    outline: 2px solid transparent;
}

div.app-tooltip-preview {
    float: left;
    margin: 5px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.app-tooltip-preview span {
    width: 100%;
    white-space: normal;
}

.mce-content-body a[data-mce-selected] {
    padding: 0 2px;
    margin: 0 -2px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #bfe6ff;
    background: #bfe6ff;
}
.mce-content-body *[data-mce-selected="inline-boundary"] {
    background: #bfe6ff;
}

@media screen and (max-width: 782px) {
    div.app-tooltip-preview,
    div.app-tooltip-input {
        max-width: 300px;
    }

    div.app-tooltip-input {
        width: 300px;
    }

    div.app-tooltip-input input {
        width: 100%;
        font-size: 16px;
        padding: 5px;
    }

    div.app-tooltip-preview {
        margin: 8px 0 8px 5px;
    }
}