span[data-tooltip] {
    color: #3451be;
    text-decoration: underline;
    cursor: pointer;
}

span[data-tooltip]:after {
    content: "";
    background: url("../../images/help-outline.svg");
    width: 12px;
    height: 12px;
    display: inline-block;
    background-size: cover;
}