.scrollable-content {
  width: fit-content;
}

.scrollable {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.disabled .scrollable {
  overflow: visible;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.scrollable-wrap {
  position: relative;
}

.scrollable-wrap .sc-scroll-indicator,
.scrollable-wrap.disabled .sc-scroll-indicator {
  opacity: 0;
}

.scrollable-wrap.initialized .sc-scroll-indicator {
  opacity: 1;
}

.initialized .sc-scroll-indicator {
  display: block;
}

.sc-scroll-indicator {
  display: none;
  margin-bottom: 1.5rem;
  margin-top: -1rem;
  width: 100%;
  background: #FFFFFF;
  transform: translateX(0);
  height: 0.3rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sc-scroll-indicator .sc-scroll-indicator-bar {
  will-change: transform;
  background: #000566;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 0.3rem;
  transform-origin: 0 0;
  display: block;
  border-radius: 0.4rem;
  cursor: -webkit-grab;
  cursor: default;
}

.sc-scroll-indicator .sc-scroll-indicator-bar::after {
  content: " ";
  position: absolute;
  top: -.625rem;
  bottom: -.625rem;
  left: 0;
  right: 0;
  display: block;
}

/* Scroll Arrows */

.scroll-arrows {
  display: none;
  position: absolute;
  top: -2.5rem;
  right: 1.5rem;
  pointer-events: none;
  color: #B7B7B7;
  font-size: 1.1rem;
  z-index: 2;
}

.scrollable-wrap.initialized .scroll-arrows {
  display: flex;
  align-items: center;
}

.scroll-arrow {
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease;
}

.scroll-arrow.right {
  transform: rotate(180deg);
}

.scroll-arrow .icon-arrow {
  width: 1.2rem;
  height: 1.2rem;
}

.scroll-arrows .icon-arrow-path {
  fill: #B7B7B7;
}

.scroll-start .scroll-arrow.left {
  opacity: 0;
}

.scroll-end .scroll-arrow.right {
  opacity: 0;
}

.scroll-arrows__title {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  transform: translateY(1px);
}


.sc-scroll-nav {
  display: none !important;
  width: 2rem;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sc-scroll-nav:before {
  font-size: 2.4rem;
  color: #000;
  line-height: 1;
}

.scrollable-wrap .sc-scroll-nav,
.scrollable-wrap.disabled .sc-scroll-nav {
  display: none;
}

.scrollable-wrap.initialized .sc-scroll-nav {
  display: flex;
}

.sc-scroll-nav.sc-scroll-nav-disabled {
  opacity: 0.3;
}

.sc-scroll-nav.sc-scroll-nav-prev {
  left: 0;
}

.sc-scroll-nav.sc-scroll-nav-prev:before {
  content: "<";
}

.sc-scroll-nav.sc-scroll-nav-next {
  right: 0;
}

.sc-scroll-nav.sc-scroll-nav-next:before {
  content: "<";
}