.fade {
  transition: opacity .4s linear;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  background-color: rgba(0, 0, 0, 0.4);

  &.fade {
    opacity: 0;
  }

  &.modal-backdrop.show {
    opacity: 1;
  }
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
  display: none;
  background: transparent;

  &.show {
    display: block;
  }
}

.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  max-width: 125rem;
  width: calc(100% - 10.6rem);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  margin: 0 auto;
  display: none;
}

.modal.bottom-right .modal-dialog {
  bottom: 3rem;
  right: 3rem;
  transform: translateY(calc(100% + 3rem));
}

.modal.center .modal-dialog {
  transform: translate(0,-50px)
}

.show .modal-dialog {
  display: flex;
}

.show.slide .modal-dialog {
  opacity: 1;
}

.show.slide.bottom-right .modal-dialog {
  transform: translateY(0);
}

.show.slide.center .modal-dialog {
  transform: translate(0, 0);
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  outline: 0;
  box-sizing: border-box;
  position: relative;
  background: $white;
}

.modal-header {
  position: relative;
}

.modal-title {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  font-weight: 300;
}

.modal-header .button-close {
  right: -3rem;
  top: -2.8rem;
}

.modal .hidden {
  display: none;
}