.sidebar-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  display: none;
  z-index: 101;
}

.sidebar-modal.show {
  display: block;
  transition: transform 0.5s ease;
}

.sidebar-modal .sidebar-modal-dialog {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 30rem;
  height: 100%;
  transition: transform 0.5s ease;
}

.sidebar-modal.right .sidebar-modal-dialog {
  right: 0;
  transform: translateX(100%);
}

.sidebar-modal.left .sidebar-modal-dialog {
  left: 0;
  transform: translate(-100%, 0);
}

.sidebar-modal.top .sidebar-modal-dialog,
.sidebar-modal.bottom .sidebar-modal-dialog {
  left: 0;
  right: 0;
  max-width: 100%;
  height: auto;
}

.sidebar-modal.top .sidebar-modal-dialog {
  transform: translateY(-100%);
}

.sidebar-modal.bottom .sidebar-modal-dialog {
  top: auto;
  bottom: 0;
  transform: translateY(100%);
}

.sidebar-modal.right.slide .sidebar-modal-dialog,
.sidebar-modal.left.slide .sidebar-modal-dialog,
.sidebar-modal.top.slide .sidebar-modal-dialog,
.sidebar-modal.bottom.slide .sidebar-modal-dialog {
  transform: translate(0, 0);
}

.sidebar-modal .sidebar-modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  background: #F8F8F8;
}

.sidebar-header {
  padding: 1rem 2rem;
  text-align: center;
}

.sidebar-header h3 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.sidebar-modal-content {
  position: relative;
}

@media (max-width: 750px) {
  .sidebar-modal .sidebar-modal-dialog {
    max-width: 75vw;
  }
}

.sidebar-modal-content .btn-close {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}

.sidebar-body {
  flex-grow: 1;
  display: flex;
}