.main-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;

  h1 {
    margin-bottom: 0.4em;
  }
}