.select2-container.wc-product-object-acf .select2-selection--single {
    height: 52px;
}

.select2-container.wc-product-object-acf .select2-selection--single .select2-selection__arrow {
    height: 50px;
}