
.wp-list-table th.column-thumbnail,
.wp-list-table td.column-thumbnail {
    width: 8%;
}

.wp-list-table .thumbnail.column-thumbnail img {
    max-width: 100px;
    width: 100%;
    height: auto;
}

.acf-editor-wrap iframe {
    min-height: 150px;
    height: 150px !important;
}

/*.acf-repeater > table {
	border: none;
	border-collapse: collapse;
}*/

/*.acf-repeater > table thead {
	display: none;
}*/

.acf-repeater > table tbody {
	border: 1px solid #ccd0d4;
}

.span-shortcode {
    padding: 4px 7px 5px;
    background-color: rgba(0,0,0,.07);
    border-radius: 2px;
    font-family: Consolas, Monaco, monospace;
}

.button-clipboard {
    position: relative;
    margin-left: 2px;
    cursor: pointer;
    display: inline-flex;
    width: 20px;
    height: 20px;
    transform: translateY(4px);
}

.button-clipboard:after {
    pointer-events: none;
    content: "Copied";
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    padding-left: 2px;
    font-size: 10px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.button-clipboard.copied:after {
    opacity: 1;
}

@media screen and (max-width: 782px) {
    .wp-list-table th.column-thumbnail,
    .wp-list-table td.column-thumbnail {
        display: none;
    }
}