<style>
    body {
        padding: 0 16px;
        margin: 0;
        color: #3c434a;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        font-size: 13px;
        line-height: 1.4em;
    }
    .tooltip-wrapper {
        padding: 8px 0 12px;
    }
    #tooltip-label-text {
        width: 100%;
        min-height: 170px;
        resize: none;
    }
</style>
<div class="tooltip-wrapper">
    <label for="tooltip-label-text" class="tooltip-label">Enter the tooltip content</label>
    <div>
        <textarea id="tooltip-label-text"></textarea>
    </div>
</div>

<script>

    //var Params = document.top.tinymce.activeEditor.windowManager.getParams();
    //console.log(Params)
    console.log(document)
    console.log(document.top);
    console.log(window);
    console.log(window.tinymce.activeEditor);
   // document.getElementById('tooltip-label-text').value = Params.arg2;

</script>