.breadcrumbs {
  font-size: 1rem;
  text-transform: uppercase;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-weight: 600;

  a {
    @include underlined-link;
  }

  span, a {
    margin-left: 3rem;
    margin-right: 3rem;

    &:first-child {
      margin-left: 0;
    }
  }
}