button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  cursor: pointer;
  font-family: inherit;
}

.button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.4rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: $white;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0 2rem 0 2rem;
  border: 1px solid transparent;
  box-sizing: border-box;
  white-space: nowrap;
  font-family: $sans-serif;
  line-height: 1.4;
  height: 4rem;
  overflow: hidden;
  position: relative;
  background-color: $button;
  transition: background-color 0.2s ease, color 0.2s ease;
  pointer-events: auto;

  @media (hover: hover) {
    &:hover {
      background-color: $button-hover;
    }
  }

  &-text {
    border: none;
    background-color: transparent;
    color: $white;
    padding: 0.3rem 0.5rem;
    margin: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-flex;
  }

  &-icon {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
  }
}