.entry-content {
  font-size: 1em;

  .button {
    text-decoration: none;
  }

  h1 {
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0.5em;
  }

  h2 {
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0.5em;
    padding-top: 0.8em;
  }

  h3 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 0.5em;
  }

  h4, h5, h6 {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.2;
    margin-bottom: 0.3em;
  }

  p {
    margin-bottom: 1.5em;
  }

  ul, ol {
    margin-bottom: 1.5em;

    li {
      margin-bottom: 0.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ol {
    list-style: decimal inside;
  }

  ul {
    li {
      padding-left: 1.1em;
      position: relative;

      &:before {
        content: "";
        display: block;
        width: 5px;
        height: 1px;
        position: absolute;
        left: 0;
        top: 0.65em;
        background-color: $main-text-color;
      }
    }
  }

  hr {
    border: none;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0;
    height: 1px;
    background-color: $line-color;
  }

  blockquote {
    position: relative;
    font-style: italic;
    box-sizing: border-box;
    width: 80%;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    font-size: 1.1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  img, .wp-video {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .wp-video {
    margin-left: auto;
    margin-right: auto;
  }

  .alignleft, img.alignleft {
    margin-right: 1.4em;
    display: inline;
    float: left;
  }

  .alignright, img.alignright {
    margin-left: 1.4em;
    display: inline;
    float: right;
  }

  .aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }

  img.alignnone {
    margin-top: 0;
    margin-bottom: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}