.form {
  &__row {
    position: relative;
    margin-bottom: 1.5rem;
  }

  &__button-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 0.6rem;

    .button {
      min-width: 15rem;
      margin-top: 0 !important;
      order: 2;
    }
  }
}

.wpcf7 {

  .form__submitted &,
  .screen-reader-response {
    display: none;
  }

  .wpcf7-response-output {
    text-align: center;
    margin-top: 2rem;
    border: none !important;
    display: none !important;
  }

  .aborted .wpcf7-response-output {
    display: block !important;
  }

  .wpcf7-not-valid-tip {
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 0.5rem;
    color: #e12222;
  }

  .wpcf7-not-valid {
    .form__row__toggle__head {
      border-color: $invalid-color;
    }
  }

  .wpcf7-spinner {
    display: none;
  }
}

.confirmation__message {
  display: none;

  .form__submitted & {
    display: block;
  }

  p {
    margin-bottom: 2rem;
  }

  p:last-child {
    margin-bottom: 1rem;
  }

  a {
    color: #DB0006;
  }
}