:focus {
  outline: none;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="search"], textarea {
  border: 1px solid #333;
  background-color: transparent;
  font-size: 1.4rem;
  padding: 1rem 1.2rem;
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  color: $main-text-color;

  @include placeholder {
    color: #999999;
    opacity: 1 !important;
  }

  &.wpcf7-not-valid {
    border-color: $invalid-color;
  }
}

.form__row.invalid, .form-row.woocommerce-invalid {
  input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="search"], textarea {
    border-color: $invalid-color;
  }
}

textarea {
  resize: vertical;
  min-height: 9rem;
  height: 9rem;
  max-height: 40rem;
}

select {
  position: relative;
  cursor: pointer;
  border: none;
  font-size: 1.4rem;
  height: 4rem;
  padding-left: 1.8rem;
  padding-right: 3.5rem;
  -webkit-appearance: none;
  appearance: none;
  width: 24rem;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 0.4rem;
  background-color: $white;
  color: $main-text-color;
}

/* Reset Search field */

input[type="search"] {
  &::-ms-clear, &::-ms-reveal {
    display: none; width : 0; height: 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

/* Number field - remove arrows */

input[type='number'] {
  -moz-appearance: textfield; // For FireFox

  &::-webkit-inner-spin-button { // For Webkits like Chrome and Safari
    -webkit-appearance: none;
    margin: 0;
  }
}

/* Quantity */

.quantity {
  display: flex;
  gap: 0.4rem;
  align-items: center;

  .qty {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 6rem;
    text-align: center;
    margin: 0;
  }

  button {
    width: 3.2rem;
    height: 3.2rem;
    background-color: #E3E0DB;
    border-radius: 0.2rem;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    color: $main-text-color;

    i {
      display: none;
    }

    &:after {
      font-size: 1.3rem;
      font-weight: 300;
    }

    &.btn-qty-minus:after {
      content: "-";
    }

    &.btn-qty-plus:after {
      content: "+";
    }
  }
}

/* Checkbox */

input[type='checkbox'] {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.custom-checkbox {
  position: relative;
  cursor: pointer;
  display: block;

  input {
    width: 0;
    height: 0;
    opacity: 0;
    display: block;
  }

  input:checked + label {
    &:after {
      opacity: 1;
    }
  }

  label {
    padding-left: 2.4rem;
    font-size: 1.3rem;
    position: relative;
    display: block;
    cursor: pointer;

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
    }

    &:before {
      top: 0;
      left: 0;
      width: 1.6rem;
      height: 1.6rem;
      box-sizing: border-box;
      border-radius: 0.2rem;
      background-color: #F8F7F6;
      border: 1px solid transparent;
    }

    &:after {
      top: 0.4rem;
      left: 0.3rem;
      border-left: 1px solid $main-text-color;
      border-bottom: 1px solid $main-text-color;
      width: 0.9rem;
      height: 0.4rem;
      transform: rotate(-45deg);
      transition: opacity 0.25s ease;
      opacity: 0;
    }
  }
}

/* Radio */

input[type='radio'] {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.custom-radio {
  position: relative;
  cursor: pointer;
  display: block;

  input {
    width: 0;
    height: 0;
    opacity: 0;
    display: block;
  }

  input:checked + label {
    &:after {
      opacity: 1;
    }
  }

  label {
    padding-left: 2.4rem;
    font-size: 1.3rem;
    position: relative;
    display: block;
    cursor: pointer;

    span {
      transform: translateY(-0.1rem);
    }

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
    }

    &:before {
      top: 0;
      left: 0;
      width: 1.5rem;
      height: 1.5rem;
      box-sizing: border-box;
      border-radius: 50%;
      background-color: #F8F7F6;
      border: 1px solid transparent;
    }

    &:after {
      top: 0.3rem;
      left: 0.3rem;
      background-color: #a6a5a3;
      width: 0.9rem;
      height: 0.9rem;
      transition: opacity 0.25s ease;
      opacity: 0;
      border-radius: 50%;
    }
  }
}

/* Select 2 customize */
.select2-container--default .select2-selection--single {
  border: 1px solid transparent;
  background-color: #F8F7F6;
  margin-bottom: 0;
  border-radius: 0.2rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 1.6rem;
  padding-right: 4.0rem;
  font-size: 1.3rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 3.1rem;
}

.select2-container .select2-selection--single {
  height: 3.3rem;
}

.select2-dropdown, .select2-container--open .select2-dropdown--below {
  border-top: 1px solid $line-color;
  border-color: $line-color;
  background-color: #F8F7F6;
}

.select2-results__options {
  font-size: 1.3rem;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
  color: $main-text-color;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  width: 0.5rem;
  height: 0.9rem;
  background: url(../images/slider-arrow.svg) center center no-repeat;
  background-size: 100% auto;
  transform: rotate(90deg);
  top: 1.2rem;
  right: 1.6rem;

  b {
    display: none;
  }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  transform: rotate(-90deg);
}
