.some-links {
  display: flex;
  justify-content: center;

  &__link {
    margin-left: 1rem;
    margin-right: 1rem;
    transition: opacity 0.25s ease-out;

    @media (hover: hover) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  @include media("<=LGphone") {

  }
}