.spinner {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(203, 203, 203, 0.6);
  border-right-color: $main-text-color;
  animation: spinner 0.7s infinite linear;
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}