@import "header";
@import "footer";

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(var(--vh, 1vh) * 100);
}

.container {
  max-width: $container-width;
  padding-left: var(--grid-gap);
  padding-right: var(--grid-gap);
  margin-left: auto;
  margin-right: auto;

  &--fullwidth {
    padding-left: calc(var(--grid-gap) * 1.5);
    padding-right: calc(var(--grid-gap) * 1.5);
    margin-left: var(--grid-gap);
    margin-right: var(--grid-gap);

    &.collapse {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.collapse {
    padding-left: 0;
    padding-right: 0;
  }

  @include media("<=LGtablet") {
    &--fullwidth {
      padding-left: calc(var(--grid-gap));
      padding-right: calc(var(--grid-gap));
    }
  }

  @include media("<=phone") {
    &--fullwidth {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.display-none {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.no-scroll, .sidebar-modal-open {
  overflow-y: hidden;
  touch-action: none;
  -ms-touch-action: none;
}

.show-on-mobile {
  display: none !important;
}

@include media("<=LGphone") {
  .hide-on-mobile {
    display: none !important;
  }

  .show-on-mobile {
    display: block !important;
  }
}