:root {
  --hh: 90px;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: $white;
  z-index: 100;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 112px;
  }

  &__nav {
    margin-left: auto;
    text-transform: uppercase;
    font-size: 1.2rem;

    .menu {
      display: flex;
    }

    li {
      padding-left: 15px;
      padding-right: 15px;

      &.current-menu-item {
        font-weight: 700;
      }
    }

    a {
      white-space: nowrap;

      @media (hover: hover) {
        &:hover {
          text-decoration-line: underline;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  // Burger button
  .menu-btn {
    position: relative;
    width: 2.5rem;
    height: 15.4px;
    display: none;
    padding: 0.4rem;
    cursor: pointer;
    margin-left: 1rem;

    span {
      background: $main-text-color;
      width: 2.5rem;
      height: 1px;
      display: block;
      position: absolute;
    }

    span:nth-child(1) {
      top: 0.4rem;
      opacity: 1;
      transition: opacity 0.4s ease;
    }

    span:nth-child(2) {
      top: 1.1rem;
      transition: transform 0.4s ease;
    }

    span:nth-child(3) {
      top: 1.1rem;
      transition: transform 0.4s ease;
    }

    span:nth-child(4) {
      top: 1.8rem;
      opacity: 1;
      transition: opacity 0.4s ease;
    }
  }

  .btn-open.menu-btn {
    span:nth-child(1) {
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    span:nth-child(2) {
      transform: rotate(45deg);
      transform-origin: center center;
      transition: transform 0.4s ease;
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
      transform-origin: center center;
      transition: transform 0.4s ease;
    }

    span:nth-child(4) {
      opacity: 0;
      transition: opacity 0.2s ease;
    }
  }

  @include media("<=tablet") {

  }

  @include media("<=LGphone") {

  }

  @include media("<=phone") {

  }
}