body.login {
    background-color: #5D5C58;
}

body.login .language-switcher {
    display: none;
}

#login h1 a, .login h1 a {
    background-image: url([STYLESHEET_DIRECTORY_URI]/assets/images/logo.svg);
    height: 50px;
    width: 176px;
    background-size: 176px 50px;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    pointer-events: none;
}

body.login div#login form#loginform {
    background: #FFFFFF;
    border: 1px solid #ffffff;
    box-shadow: none;
}

.login label {
    color: #000 !important;
    font-size: 14px;
    padding-bottom: 10px;
}

body.login div#login form#loginform input {
    background: transparent;
    border-width: 0 0 1px 0;
    border-color: #000;
    box-shadow: none;
    color: #000;
    border-radius: 0;
}

body.login .button.wp-hide-pw:focus {
    border-color: #000;
    box-shadow: 0 0 0 1px #000;
}

body.login .dashicons-visibility:before,
body.login .dashicons-hidden:before {
    color: #000;
}

body.login div#login form#loginform input#rememberme {
    border-width: 1px;
}

body.login div#login form#loginform p.submit input#wp-submit {
    background-color: #000;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 0;
    text-shadow: none;
    padding: 0 12px;
    height: 30px;
}

.login #nav {
    padding: 0 !important;
    margin-top: 12px !important;
    text-align: center;
}

.login #nav a {
    color: #fff !important;
}

.login #backtoblog, .login #login_error, .login .message, .login .success, .login #nav {
    display: none;
}

body.login .privacy-policy-page-link {
    display: none;
}