span.progressive-media {
    display: block;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: fit-content;
}

.no-js span.progressive-media {
    display: none;
}

span.progressive-media img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity .4s 0s !important;
}

span.progressive-media .aspect-ratio-fill {
    display: block;
}

span.progressive-media img.loaded {
    opacity: 1;
}

span.progressive-media img:first-child {
    filter: blur(6px);
    /* this is needed so Safari keeps sharp edges */
    transform: scale(1);
    opacity: 1 !important;
    transition-delay: 0.4s!important;
    transition-duration: 0.1s!important;
}

span.progressive-media.media-loaded img:first-child {
    opacity: 0 !important;
}