@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}


@mixin bullet-list {
  margin-bottom: 30px;

  li {
    padding-left: 18px;
    margin-bottom: 15px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 7px;
      display: block;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      background-color: $main-text-color;
    }
  }
}

@mixin text-ellipsis($max-width: 100%) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: $max-width;
}

@mixin text-ellipsis-multiline($lines: 2) {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin underlined-link {
  text-decoration-line: underline;

  @media (hover: hover) {
    &:hover {
      text-decoration: none;
    }
  }
}

/// Mixin to place items on a circle
/// @param {Integer} $item-count - Number of items on the circle
/// @param {Length} $circle-size - Large circle size
/// @param {Length} $item-size - Single item size
@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -($item-size / 2);
    width: $item-size;
    height: $item-size;

    $angle: (360 / $item-count);
    $rot: -100;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}
