html {
  font-size: 62.5%;
}

body {
  font-size: $font-size-base;
  font-family: $sans-serif;
  color: $main-text-color;
}

h1 {
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 0.2em;
}

h2 {
  font-weight: 800;
  font-size: 3.6rem;
  margin-bottom: 0.2em;
}

h3 {
  font-weight: 800;
  font-size: 3rem;
  margin-bottom: 0.2em;
}

h4 {
  font-weight: 800;
  font-size: 2.4rem;
  margin-bottom: 0.2em;
}

a {
  color: $main-text-color;
  text-decoration-line: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

sup {
  vertical-align: super;
  font-size: 0.6em;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

@include media(">maxVW") {
  /*html {
    font-size: 0.695vw;
  }*/
}