// Colors
$white: #fff;
$black: #000;

$main-text-color: #000D2D;
$main-link-color: #000D2D;

$button: #1A65A8;
$button-hover: #2674b9;

$main-bg-color: #FAF9F4;
$line-color: #D4D3D1;
$footer-bg: #1A65A8;

$invalid-color: #d33030;

// Grid
$xsmall: 440px;
$small: 640px;
$medium: 800px;
$xmedium: 1024px;
$large: 1280px;
$xlarge: 1920px;

$container-width: 1440px;

// Transitions
$transform-transition: transform 0.25s ease-out;
$opacity-transition: opacity 0.25s ease-out;
$ease: cubic-bezier(0.25, 0.46, 0.45, 0.94);

// Fonts
$sans-serif: "Open Sans", sans-serif;
$font-size-base: 1.4rem;
$max-vw: 1440px;