/*#submitdiv {
    display: none !important;
}*/

#mailchimp_settings .acf-field td .acf-notice p {
    margin: 0.5em 0;
    font-size: 13px;
}

#mailchimp_settings .connected-status {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 13px;
}

#mailchimp_settings .connected-status.positive {
    background: #5e9e69;
    color: #fff;
}

#mailchimp_settings .connected-status.negative {
    background: #d12626;
    color: #fff;
}

#mailchimp_settings .connected-error-message {
    margin-top: 15px;
}

#newsletter-campaign-action .newsletter-test-email-field {
    display: none;
}

#newsletter-campaign-action .newsletter-test-email-field.active {
    display: block;
}

#newsletter-campaign-action .newsletter-test-email-field .button {
    margin-bottom: 0;
}

#newsletter-campaign-action #newsletter-test-email {
    width: 270px;
}

.newsletter-campaign-response {
    margin-top: 20px;
}

.newsletter-campaign-response .button-delete {
    color: #b32d2e;
    border-color: #b32d2e;
}

.mailchimp-account-settings .mailchimp-table > table {
    border: 1px solid #c3c4c7;
    background: #fff;
    border-collapse: collapse;
    display: table;
    width: 100%;
}

.mailchimp-account-settings .mailchimp-table > table th {
    background: #f8f8f8;
    font-size: 11px;
    text-align: left;
    color: #555;
    padding: 3px 8px;
    display: table-cell;
}

.mailchimp-account-settings .mailchimp-table > table td {
    font-size: 13px;
    text-align: left;
    color: #555;
    padding: 8px 8px;
    display: table-cell;
}

.mailchimp-account-settings .mailchimp-table > table td.group-title {
    vertical-align: top;
    width: 25%;
}

.mailchimp-account-settings .mailchimp-table > table td.group-title strong {
    display: block;
    margin-bottom: 15px;
}

.mailchimp-account-settings .mailchimp-table > table table {
    border-collapse: collapse;
    display: table;
}

.mailchimp-account-settings .mailchimp-table > table table th {
    background: none;
}

.mailchimp-account-settings .mailchimp-table > table table th strong {
    display: block;
    border-bottom: 1px solid #eeeeee;
}

.mailchimp-account-settings .mailchimp-table > table table th,
.mailchimp-account-settings .mailchimp-table > table table td {
    padding: 3px 0;
}
